:root {
    --green: #008000;
    --light-green: #57A639;
    --blue: #3B83BD;
    --yellow: #fafd0f;
    --gold: #ffbf00;
    --dark-green: #46852e;
    --white: #FFFFFF;
}

html {
    box-sizing: border-box;
    min-width: 100%;
}

*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Krub", sans-serif;
    /*Degrado de https://webgradients.com/*/
    background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
    min-height: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--white);
}

.hero {
    width: 100%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 500x;
    background-image: url("../image/Laudato.jpg");
    background-size: cover;
    opacity: 0.5;
    background-color: black;
}

.hero-content h1,
h2,
h3 {
    position: relative;
    z-index: 1;
    flex: 1;
    text-align: center;
    color: var(--white);
    font-weight: bold;
    text-transform: uppercase;
}

.main-nav {
    background-color: var(--green);
}

.nav {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.nav a {
    display: block;
    padding: 0.5em;
}

@media(min-width:768px) {
    .nav {
        flex-direction: row;
    }
}

.link {
    overflow: hidden;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 1em;
    background-image: linear-gradient(to left #accbee 0%, #e7f0fd 100%);
    --webkit-box-shadow: 0px 11px 15px -9px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0px 11px 15px -9px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 11px 15px -9px rgba(0, 0, 0, 0.65);
    margin-bottom: 3em;
}

.contenet-articles {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenet-articles::after {
    background-color: rgba(0, 0, 0, 0.35);
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

@media(min-width:768px) {
    .content-articles {
        display: flex;
        justify-content: space-between;
    }
    .content {
        flex: 0 0 calc(33.3% -1em);
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-clim {
    background-image: url("../image/clima.jpg");
    margin: 1em;
    background-color: rgba(0, 0, 0, 0.35);
    position: relative;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-clim:before {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    content: "";
    background-color: black;
}

.image-clim p {
    position: relative;
    z-index: 1;
    color: var(--white);
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}

.image-amb {
    /*https://www.bbva.com/wp-content/uploads/2017/09/hogar-verde-cambio-reciclaje-ahorro-ecologia-habitos-medioambiente-bbva-1-e1506497812244.jpg*/
    background-image: url("../image/medio-ambiente.jpg");
    margin: 1em;
    position: relative;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center;
}

.image-amb:before {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    content: "";
    background-color: black;
    text-align: center;
}

.image-amb p {
    position: relative;
    z-index: 1;
    color: var(--white);
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}

.image-ani {
    /*http://combonipca.org/?p=1420*/
    background-image: url("../image/animale.jpg");
    margin: 1em;
    position: relative;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-ani:before {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    content: "";
    background-color: black;
}

.image-ani p {
    position: relative;
    z-index: 1;
    color: var(--white);
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}

h2 {
    text-align: center;
}

@media(min-width:768px) {
    .container {
        background-size: contain;
    }
}

.buttom {
    font-size: 1.3em;
    display: inline-block;
    border: none;
    border-radius: 0.5em;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 2;
    background-color: var(--light-green);
    width: 8.40em;
    color: white;
}